body {
  background-color: lightgreen;
  text-align:center;
  font-family: Arial, Helvetica, sans-serif; 
}

.error {
		color: #FF0000;
}

header {
	position: fixed;
}

div {
	background-color: none;
	margin:auto;
	width:60%;
	border:3px #22AF33;
	padding:10px;
}

h1 {
  color: white;
  text-align: center;
}

p {
	background-color: white;
	padding: 10px;
}

table, th, td {
	margin:auto;
	background-color: white;
	border:0.5px solid black;
	/*border-collapse: collapse;*/
	padding: 5px;  	
}


table {
	border-spacing: 2.5px;
}

ul.navbar {
	list-style-type: none;
	margin:0;
	padding:0;
	overflow: hidden;
  	background-color: #333;
}

li.navbar {
	float:left;
	width:auto;
	/*margin:auto;*/ /*NO effect*/
}

li a.navbar {
	display:block;
	color:white;
	text-align: center;
	padding:10px 10px;
	text-decoration: none;
	/*border:0.5px solid white;*/
}

footer {
	position: fixed;
	display:block;
	background-color: white;
	border:1px solid black;
	padding:2px;
  	left: 0;
  	bottom: 0;
  	width: 100%;
  	text-align: center;
}

.button {
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {background-color: #4CAF50;} /* Green */
.button2 {background-color: #008CBA;} /* Blue */